body,
html {
    height: 100%;
}
.navbar{
    z-index: 100;
}
.change {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.898);
}

.top-logo{
    height: 70px;
}

li>a{
    font-family: Montserrat,'Segoe UI', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: white;
}

a.nav-link:hover {
    color: #727170;
    text-decoration: none;
}

.fa-bars{
color: white;
font-size: 40px;
}

.cover-bg{
    background-image: url("./img/Quantum-Computer-Code-Concept.gif");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover-bg:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #00000062, #000000);
    opacity: .6;
    z-index: 10;
}                                  

.hero {
    color: rgb(255, 254, 254);
    font-size: 2em;
    padding-top: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 99;
    }

    .myName {
        font-size: 60px;
    }
    .myResume{
        font-size: 45px;
    }

    .fa-angle-double-down {
        color: white;
        padding-top: 100px;
        font-size: 70px;
    }
    
    @-webkit-keyframes arrow-jump {
        0% {
            opacity: 0;
        }

        20% {
            opacity: 0.2;
        }

        50% {
            opacity: 0.5;
        }
        70% {
            opacity: 0.7;
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(30px);
            -moz-transform: translateY(30px);
            -0-transform: translateY(30px);
            transform: translateY(30px);
        }

    }

    #arrow {
        -webkit-animation: arrow-jump 1s infinite;
        /* Safari 4+ */
        -moz-animation: arrow-jump 1s infinite;
        /* Fx 5+ */
        -o-animation: arrow-jump 1s infinite;
        /* Opera 12+ */
        animation: arrow-jump 1s infinite;
        /* IE 10+, Fx 29+ */
}



.about-me{
    height: 40vh;
    background-color: #fff;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}


.fa-file-download{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.fa-github{
    font-size: 40px;
    color: #000000;
}

.dark-arrow-down{
    color: rgb(84, 84, 84);
}


.my-skills {
    background-color: #f3f3f3;
}

.skills-icons>div{
    font-size: 80px;
    width: 100px;
    height: 150px;
    background-color: #fff;
    margin-left: 5px;
    margin-bottom: 15px;
}


.fa-html5 {
    color: rgb(255, 123, 0);
}

.fa-css3-alt {
  color: #2B6CB0;
}

.fa-php{
    font-size: 60px;
    color: purple;
}


.contact-info{
    padding-top: 30px;
    padding-bottom: 30px;
}

.fa-envelope{
    font-size: 30px;
}
.fa-arrow-right{
    font-size: 20px;
}
.fa-phone-alt{
    font-size: 30px;
}
.fa-linkedin{
    font-size: 30px;
}
.contact-info>a{
    color: #000000;
}
.contact-info>p{
    color: #000000;
}


footer{
    height: 50px;
    padding-top: 8px;
    background-color: #000000;
}
